<!-- MASTER PAGES -->
<% layout('layouts/main') -%>
<!-- MENU BAR NAVBAR -->
<%- include('partials/menu.ejs') %>

<div class="container-fluid">
    <!-- TITULO -->
    <h1 class="text-center mb-4">Tipos de Notas</h1>

    <!-- NOTIFICACIONES -->
    <% var flag %>
    <% if(flag == true){ %>
    <script>
        notify('<%- msj1 %>', '<%- msj2 %>');
    </script>
    <% } %>
    <% if(flag == false){ %>
    <!-- SI OCURRIO UN ERROR -->
    <% } %>

    <!-- Aqui comienza la pagina -->
    <div class="row">
        <!-- FORM -->
        <div class="col-md-4">
            <div class="divContent3">
                <h4 class="text-center mb-3">Nuevo Tipo de Nota</h4>
                <form action="/tipoNotaI" method="POST">
                    <input type="text" name="nombre" class="form-control mb-3 inputSize" placeholder="Nombre" required
                        autocomplete="off">
                    <textarea class="form-control mb-3 inputSize" name="descripcion" rows="3"
                        placeholder="Descripcion..." required></textarea>
                    <input type="submit" class="btn btn-primary inputSize">
                </form>
            </div>
        </div>
        <!-- TABLES -->
        <div class="col-md-8">
            <div class="divContent3">
                <div class="table-responsive-sm" id="resize_wrapper">
                    <table class="table table-bordered pageResize compact order-column" id="tipoNotaTable">
                        <thead class="thead-dark">
                            <tr class="table-primary">
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var tipoNotaDB %>
                            <% for(var tipoNota of tipoNotaDB) { %>
                            <tr>
                                <td><%- tipoNota.nombre %></td>
                                <td><%- tipoNota.descripcion %></td>
                                <td><a class="btn btn-danger" href="/tipoNotaD/<%- tipoNota.id %>"><i
                                            class="fa fa-trash-alt"></i> Borrar</a></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                    <div id="resize_handle" class="mt-3">Click y Arrástrame!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // LA TABLA TIENE QUE ESTAR ADENTRO DE UN DIV CON EL ID DE resize_wrapper.
        // AL FINAL DE LA TABLA TIENE QUE ESTAR UN DIV CON ID resize_handle Y EL CSS TAMBIEN TIENE SU CONFIGURACION
        var wrapper = $('#resize_wrapper');
        $('#resize_handle').on('mousedown', function (e) {
            var mouseStartY = e.pageY;
            var resizeStartHeight = wrapper.height();

            $(document)
                .on('mousemove.demo', function (e) {
                    var height = resizeStartHeight + (e.pageY - mouseStartY);
                    if (height < 180) {
                        height = 180;
                    }

                    wrapper.height(height);
                })
                .on('mouseup.demo', function (e) {
                    $(document).off('mousemove.demo mouseup.demo');
                });

            return false;
        });

        // CONFIG DATATABLE TO SPANISH 
        $('#tipoNotaTable').DataTable({
            pageLength: 15,
            //para cambiar el lenguaje a español
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "sProcessing": "Procesando...",
            }
        });
    });
</script>